@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about Generic Repository &nbsp;<a href="https://biharideveloper.com" target="_blank">ASP.NET Core</a>.</p>
</div>
